<ion-view title="Movement" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="movement-list2">
      <ion-item class="item-icon-left" id="movement-list-item14">
        <i class="icon ion-ionic"></i>Bonjour</ion-item>
      <ion-item class="item-icon-left" id="movement-list-item15">
        <i class="icon ion-ionic"></i>Au revoir</ion-item>
      <ion-item class="item-icon-left" id="movement-list-item16">
        <i class="icon ion-ionic"></i>Bouger les bras</ion-item>
      <ion-item class="item-icon-left" id="movement-list-item17">
        <i class="icon ion-ionic"></i>Rougir</ion-item>
      <ion-item class="item-icon-left" id="movement-list-item18">
        <i class="icon ion-ionic"></i>Exclamation</ion-item>
      <ion-item class="item-icon-left" id="movement-list-item19">
        <i class="icon ion-ionic"></i>Interrogation</ion-item>
    </ion-list>
  </ion-content>
</ion-view>