<ion-view title="Question" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="question-list1">
      <ion-item id="question-list-item4">Item 1
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item id="question-list-item8">Item 1
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item id="question-list-item9">Item 1
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item id="question-list-item10">Item 1
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item id="question-list-item11">Item 1
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item id="question-list-item12">Item 1
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item id="question-list-item13">Item 1
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item id="question-list-item7">Item 1
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>